body{
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 1em 0;
}
.container{
    max-width: 1000px;
    width: 70%;
    margin: auto auto;
}
.imagemhome{
    width: 2rem;
    
}
.imagemhome:hover{
    cursor: pointer;
   
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
}
nav{
    width: 70%;
}
.menu-abrir, .menu-fechar{
    display: none;
}
.opcoes{
    display: flex;
    font-size: 1.2em;
    justify-content: space-around;
}
.opcoes li a{
    text-decoration: none;
    color: #000000;
}
.opcoes li:hover{
    
    cursor: pointer;
}
main{
    padding: 2rem 0;
}
.titulo-sobre{
    font-size: 2em;
}
.bloco1-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    font-size: 1.3em;
    line-height: 1.5;
    height: 65vh;
}
.bloco1-sobre p{
    width: 48%;
}
.imagem1-sobre{
    width: 25%;
}
.section2{
    background-image: linear-gradient(#4F4F4F,#363636);
    color: #ffffff;    
}
.imagem2-sobre{
    width: 30%;
}
.section3{
    background: rgb(226,226,226);
}
footer p{
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 1em;
}
@media (max-width: 768px) {
   .container{
       width: 80%;
   }
   .opcoes{
       justify-content: space-between;
   }
   .menu-abrir, .menu-fechar{
       display: none;
   }
}
@media(max-width:660px){
    .container{
        width: 90%;
    }
    
    .menu-abrir, .menu-fechar{
        display: initial;
        padding: 0;
        border: none;
        background: #ffffff;
    }
    .barra-nav{
        background: #ffffff;
        height: 100%;
        width: 70%;
        max-width: 300px;
        margin: 0;
        top: 0;
        padding: 1em;
        position: fixed;
        z-index: 1;
        left: -90%;
        transition: left 0.3s ease-out;
    }
    .menu-ativo .barra-nav{
        left: 0;
        background: #f0f0f0;
    }
    .menu-ativo:after{
        content:"";
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: rgba(0,0,0,0.4);
    }
    .opcoes{
        flex-direction: column;
        align-items: flex-start;
    }
    .opcoes li{
        padding: 0.8em 0;
    }
    .logo{
        width: auto;
        padding: 0 1em;
    }
    .titulo-sobre{
        font-size: 1.3em;
    }
    .bloco1-sobre{
        font-size: 1.2em;
    }
    
    
}
@media(max-width:600px){
    .imagem1-sobre,.imagem2-sobre{
        display: none;
    }
    .bloco1-sobre{
        height: 50vh;
    }
    .bloco1-sobre p{
        width: 80%;
    }
}
@media(max-width:376px){
    .imagem1-sobre,.imagem2-sobre{
        display: none;
    }
    .bloco1-sobre{
        height: 50vh;
    }
    .bloco1-sobre p{
        width: 80%;
    }
}
