body{
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 1em 0;
}
.container{
    max-width: 1000px;
    width: 70%;
    margin: auto auto;
}
.imagemhome{
    width: 2rem;
}
.imagemhome:hover{
    cursor: pointer;
   
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50%;
}
nav{
    width: 50%;
}
.opcoes{
    display: flex;
    font-size: 1.2em;
    justify-content: space-around;
}
.opcoes li a{
    text-decoration: none;
    color: #000000;
}
.opcoes li:hover{
    
    cursor: pointer;
}
main{
    padding: 2rem 0;
}
.titulo-sobre{
    font-size: 2em;
}
.bloco1-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    font-size: 1.3em;
    line-height: 1.5;
    height: 65vh;
}
.bloco1-sobre p{
    width: 48%;
}
.imagem1-sobre{
    width: 25%;
}
.section2{
    background-image: linear-gradient(#4F4F4F,#363636);
    color: #ffffff;    
}
.imagem2-sobre{
    width: 30%;
}
.section3{
    background: rgb(226,226,226);
}
footer p{
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 1em;
}
@media (max-width: 768px) {
   .container{
       width: 80%;
   }
   .logo{
       width: 30%;
   }
   nav{
       width: 60%;
   }
   .opcoes{
       justify-content: space-between;
   }
}
@media(max-width:660px){
    .container{
        width: 90%;
    }
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .opcoes{
        flex-direction: column;
        align-items: center;
    }
    .opcoes li{
        padding: 0.5em 0;
    }
    .logo{
        width: auto;
    }
    .titulo-sobre{
        font-size: 1.3em;
    }
    .bloco1-sobre{
        font-size: 1.2em;
    }
}
@media(max-width:376px){
    .imagem1-sobre,.imagem2-sobre{
        display: none;
    }
    .bloco1-sobre{
        height: 50vh;
    }
    .bloco1-sobre p{
        width: 80%;
    }
}
